atomicwrites
attrs
colorama
colour
decorator
thefuzz
importlib-metadata
more-itertools
networkx
ortools
packaging
pluggy
ply
prompt-toolkit
protobuf
py
pydot
pyparsing
pytest
python-constraint
Levenshtein
six
wcwidth
zipp
